@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: black;

}

header{
    padding: 20px;
}

.nav-bar{
    background-color: black;
    margin: 30px;

}

.header{
    display: flex;
    justify-content: space-between;
}

.header h1{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: palevioletred;

}

.icons ul{
    list-style: none;
    display: flex;
}

.icons ul li{
    margin: 15px;
}

.icons ul li a{
    color: palevioletred;
    font-size: 20px;
    text-decoration: none;

}

.icons ul li a:hover{
    color: white;
}
.card{
    display: flex;
    justify-content: space-around;
    margin: 0 50px;

}

.card-on{
    border: 2px solid white;
    width: 500px;
    height: 600px;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.card-on img{
   width: 500px;
   height: 600px;
   object-fit: cover;
}
.card-on h2{
    position: absolute;
    background-color: transparent;
    color: #fff;
    border: 2px solid palevioletred;
    padding: 10px;
    border-radius: 20px;
}
.card-on:hover h2{
    background-color: palevioletred;
    color: #fff;
    border: 2px solid #fff;
}
.card-on:hover{
    transform: scale(1.1);
    border: 2px solid palevioletred;
}
.ruler{
    display: none;
    position: absolute;
    width: 1px;
    height: 60vh;
    background-color: palevioletred;
}

footer{
    padding: 50px;
}
.center-footer{
    border-top: thin solid palevioletred;
    border-radius: 20px;
    color: #fff;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-bottom: thin solid palevioletred;
}

.center-footer p{
    margin: 5px;
}
@media(max-width:1200px){
    .card{
        gap: 2em;
    }
    .card-on{
        width: 300px;
        height: 450px;
    }
    .card-on img{
        width: 300px;
        height: 450px;
    }
    .card-on h2{
        font-size: 1em;
    }
}
@media(max-width:600px){
    .nav-bar{
        margin: 0;
    }
    main{
        height: 70vh;
    }
    .card{
        width: 100%;
        height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .card-on{
        width: 150px;
        height: 200px;
        position: absolute;
        
    }
    .card-on-right{
        top: 80%;
        left: 20px;
    }
    .card-on-left{
        top: 10%;
        right: 20px;
    }
    .card-on h2{
        font-size: 0.8rem;
        text-align: center;
    }
    .center-footer{
        width: 70%;
    }
    .center-footer p{
        display: flex;
        justify-content: center;
        font-size: 0.7em;
    }
    .ruler{
        top: 10%;
        display: block;
    }
}
@media(max-width:320px){
    .card-on{
        width: 130px;
        height: 160px;

        
    }
    .card-on-right{
        left: 15px;
    }
    .card-on-left{

        right: 15px;
    }
}