header{
    background-color: transparent;
    padding: 10px;
}

.nav-bar{
    background-color: transparent;
    width: 80%;
    margin: auto;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
}
.header h1{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: palevioletred;
  align-items: center;

}

.icons ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.icons ul li{
    margin: 15px;
}

.icons ul li a{
    color: palevioletred;
    font-size: 20px;
    text-decoration: none;

}

.icons ul li a:hover{
    color: white;
}

#myvideobg{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(20%);
}
.content{
    width: 50%;
    margin: 25vh auto;
    text-align: center;
    align-items: center;
}
.content h1{
    color: #fff;
    font-size: 3.3rem;
}
.content p{
    color: #d0cccc93;
    font-size: 1.1rem;
}
.content p a{
    color: palevioletred;
    text-decoration: none;
}

@media(max-width:768px){
    .nav-bar{
        width: 100%;
    
    }
    .content{
        width: 100%;
        margin: 20vh 10px;
    }
}