header{
    background-color: black;
    padding: 10px;
}

.nav-bar{
    background-color: black;
    width: 80%;
    margin: auto;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: palevioletred;
  align-items: center;

}

.icons ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.icons ul li{
    margin: 15px;
}

.icons ul li a{
    color: palevioletred;
    font-size: 20px;
    text-decoration: none;

}

.icons ul li a:hover{
    color: white;
}